<div style="margin: 20px">
  <div *ngIf="isLoading">Loading....</div>

  <form
    [formGroup]="filterForm"
    style="margin-bottom: 10px; display: flex; gap: 10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>Customer Code</mat-label>
      <input matInput formControlName="customercode" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Name</mat-label>
      <input matInput formControlName="customername" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mobile No</mat-label>
      <input matInput formControlName="mobileno" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>

    <button mat-stroked-button type="button" (click)="clearFilters()">
      Clear
    </button>

    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="openAddDialog()"
    >
      Add Customer
    </button>
  </form>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    style="width: 100%"
  >

    <ng-container matColumnDef="customercode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Customer Code
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.customerCode }}
      </td>
    </ng-container>

    <ng-container matColumnDef="customername">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Customer Name
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.customerName  }}
      </td>
    </ng-container>

    <ng-container matColumnDef="contactperson">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Contact Person
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.contactPerson }}
      </td>
    </ng-container>

    <ng-container matColumnDef="mobileno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Mobile No
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.mobileNo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        City
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.city }}
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        State
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.state }}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Country
      </th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.country }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isactive">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let customer">
        {{ customer.isActive ? 'Active' : 'Inactive' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>

      <td mat-cell *matCellDef="let customer">

        <button
          mat-flat-button
          color="primary"
          (click)="openEditDialog(customer)"
        >
          Edit
        </button>

        <button
          mat-flat-button
          color="warn"
          (click)="delete(customer.id, customer.customerName)"
        >
          Delete
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>

</div>