<div style="margin: 20px">
  <button mat-flat-button color="primary" routerLink="/masters/items/create">Add Item</button>
 
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="width: 100%; margin-top: 20px"
  >
        <ng-container matColumnDef="catCode">
      <th mat-header-cell *matHeaderCellDef>Cat Code</th>
      <td mat-cell *matCellDef="let item">{{ item.catCode }}</td>
    </ng-container>
 
        <ng-container matColumnDef="itemBarCode">
      <th mat-header-cell *matHeaderCellDef>Item Bar Code</th>
      <td mat-cell *matCellDef="let item">{{ item.itemBarCode }}</td>
    </ng-container>
 
        <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef>Item Code</th>
      <td mat-cell *matCellDef="let item">{{ item.itemCode }}</td>
    </ng-container>
 
        <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef>Item Name</th>
      <td mat-cell *matCellDef="let item" class="wrap-text">
        {{ item.itemName | slice: 0 : 25
        }}<span *ngIf="item.itemName.length > 25">...</span>
      </td>
    </ng-container>
 
        <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let item" class="wrap-text">
        {{ item.description | slice: 0 : 25
        }}<span *ngIf="item.description.length > 25">...</span>
      </td>
    </ng-container>
 
        <ng-container matColumnDef="uom">
      <th mat-header-cell *matHeaderCellDef>UOM</th>
      <td mat-cell *matCellDef="let item">{{ item.uom }}</td>
    </ng-container>
 
      <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>Rate</th>
      <td mat-cell *matCellDef="let item">{{ item.rate }}</td>
    </ng-container>
 
    <ng-container matColumnDef="minimumStock">
      <th mat-header-cell *matHeaderCellDef>Min Stock</th>
      <td mat-cell *matCellDef="let item">{{ item.minimumStock }}</td>
    </ng-container>
 
        <ng-container matColumnDef="maximumStock">
      <th mat-header-cell *matHeaderCellDef>Max Stock</th>
      <td mat-cell *matCellDef="let item">{{ item.maximumStock }}</td>
    </ng-container>
 
      <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let item">{{ item.isActive }}</td>
    </ng-container>
 
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let item">
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/masters/items/edit', item.id]"
        >
          Edit
        </button>
 
        <button
          mat-flat-button
          color="warn"
          (click)="delete(item.id, item.itemName)"
        >
          Delete
        </button>
      </td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
 