<div style="margin: 20px">
  <div *ngIf="isLoading">Loading....</div>
 
  
  <form
    [formGroup]="filterForm"
    style="margin-bottom: 10px; display: flex; gap: 10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput formControlName="catCode" />
    </mat-form-field>
 
    <mat-form-field appearance="outline">
      <mat-label>Item Name</mat-label>
      <input matInput formControlName="itemName" />
    </mat-form-field>
 
    <mat-form-field appearance="outline">
      <mat-label>UOM</mat-label>
      <input matInput formControlName="uom" />
    </mat-form-field>
 
    <button mat-stroked-button type="button" (click)="clearFilters()">
      Clear
    </button>
 
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="openAddDialog()"
    >
      Add Item
    </button>
  </form>
 
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    class="mat-elevation-z8"
    style="width: 100%"
  >
    <ng-container matColumnDef="catCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cat Code</th>
      <td mat-cell *matCellDef="let item">{{ item.catCode }}</td>
    </ng-container>
 
    <ng-container matColumnDef="itemBarCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Bar Code</th>
      <td mat-cell *matCellDef="let item">{{ item.itemBarCode }}</td>
    </ng-container>
 
    <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Code</th>
      <td mat-cell *matCellDef="let item">{{ item.itemCode }}</td>
    </ng-container>
 
    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Item Name</th>
      <td mat-cell *matCellDef="let item">
        {{ item.itemName | slice: 0 : 25 }}
      </td>
    </ng-container>
 
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let item">
        {{ item.description | slice: 0 : 25 }}
      </td>
    </ng-container>
 
    <ng-container matColumnDef="uom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UOM</th>
      <td mat-cell *matCellDef="let item">{{ item.uom }}</td>
    </ng-container>
 
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
      <td mat-cell *matCellDef="let item">{{ item.rate }}</td>
    </ng-container>
 
    <ng-container matColumnDef="minimumStock">
      <th mat-header-cell *matHeaderCellDef>Min Stock</th>
      <td mat-cell *matCellDef="let item">{{ item.minimumStock }}</td>
    </ng-container>
 
    <ng-container matColumnDef="maximumStock">
      <th mat-header-cell *matHeaderCellDef>Max Stock</th>
      <td mat-cell *matCellDef="let item">{{ item.maximumStock }}</td>
    </ng-container>
 
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let item">{{ item.isActive }}</td>
    </ng-container>
 
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let item">
        <button mat-flat-button color="primary" (click)="openEditDialog(item)">
          Edit
        </button>
        
        <button
          mat-flat-button
          color="warn"
          (click)="delete(item.id, item.itemName)"
        >
          Delete
        </button>
      </td>
    </ng-container>
 
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
 
  <mat-paginator
    [length]="totalRecords"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
